extends layout

block content
  h1= title

  if success && success.length > 0
    .alert.alert-success
      each msg in success
        p= msg

  if error && error.length > 0
    .alert.alert-danger
      each msg in error
        p= msg

  if fee
    p(style='font-size: 1.2em; font-weight: bold;')
      | Pay GHC#{fee.amount} via MoMo: "+233591459200", Name: "At-taqwafoundation and Humanitarian Service" to acquire an access code. Enter MoMo reference name in the field below to register. Access code is valid for 30 days.
  else
    p(style='font-size: 1.2em; font-weight: bold;')
      | Pay the registration fee via MoMo or bank to acquire an access code. Enter MoMo reference name or bank details in the field below to register. Access code is valid for 30 days.

  form(action='/register' method='POST')
    .form-group
      label(for='sessionId') Select Class Session
      select.form-control(name='sessionId' required)
        option(value='') Select a session
        each session in classSessions
          option(value=session._id)= session.title
    .form-group
      label(for='momoReference') MoMo Reference Name
      input.form-control(type='text' name='momoReference' required)
    button.btn.btn-primary(type='submit') Register
