extends layout

block content
  section.auth-shell
    .auth-card
      .auth-header
        h1.auth-title= title

      if signInError
        .alert.alert-danger.auth-alert(role="alert")
          i.fas.fa-exclamation-circle.me-2(aria-hidden="true")
          | #{signInError}

      if signInSuccess
        .alert.alert-success.auth-alert(role="alert")
          i.fas.fa-check-circle.me-2(aria-hidden="true")
          | #{signInSuccess}

      form.auth-form(method="POST" action="/signin")
        .mb-3
          label.form-label(for="username") Username
          input#username.form-control.auth-input(
            type="text"
            name="username"
            value=(oldInput && oldInput.username ? oldInput.username : '')
            autocomplete="username"
            required
          )
        .mb-3
          label.form-label(for="password") Password
          input#password.form-control.auth-input(
            type="password"
            name="password"
            autocomplete="current-password"
            required
          )
        .d-flex.justify-content-end.mb-3
          a.small(href="/forgot_password") Forgot password?
        button.btn.auth-submit(type="submit") Sign In

      p.auth-footer.mb-0
        | Don't have an account?
        a.ms-2(href="/signup") Sign up
