extends layout

block content
  h2.text-center.mb-4 #{categoryTitle} Videos

  if videos.length > 0
    .row.justify-content-center
      each video in videos
        .col-md-4.mb-4
          .card.shadow-sm
            iframe.card-img-top(
              src=video.youtubeUrl
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            )
            .card-body
              h5.card-title.text-center= video.title
  else
    .text-center.alert.alert-warning No videos available under this category!
